
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager navigationManager
@inject FinnanceApp.Client.Services.IShopService ShopService
@layout MainLayout
@implements IDisposable
@attribute [Authorize]

<table class="table table-striped table-bordered" style="text-align:center;">

    <thead>
        <tr>
            <th id="a">Shop Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (FinnanceApp.Shared.Models.Shops entry in ShopService.Shops)
        {
            <tr>
                <td>@entry.name</td>
                <td>
                    <a @onclick="@(() => EditShop(entry.id,entry.name))"  class="btn btn-info btn-circle">
                                        <i style="color:white;" class="far fa-edit"></i>  </a>
                    <a @onclick="@(() => DeleteShop(entry.id,entry.name))" class="btn btn-danger btn-circle">
                                        <i style="color:white;" class="fas fa-trash"></i>  </a>
                </td>

            </tr>
        }
        <tr>
            <td>
                <input type="text" @bind="shopname" id="addShopname" name="name" placeholder="New Shop">
            </td>

            <td>
                <a @onclick="@(() => addShop(shopname))" class="btn btn-success btn-circle">
                                        <i style="color:white;" class="fas fa-check"></i> </a>
                                        </td>
        </tr>
    </tbody>

</table>

<ConfirmComp Title=@("Shop Delete") Message=@($"Are you sure, do you want delete {deleteName}? This will delete all assigned Bills.") 
ConfirmChanged="ConfirmDeleteClick" @ref="DeleteConfirmation"></ConfirmComp>

<EditComp Title=@("Shop Edit") Message=@($"Enter new name for {editName}.") 
ConfirmChanged="EditDeleteClick" @ref="EditConfirmation"></EditComp>  


@code {
    protected Modal DeleteConfirmation {get; set;}
    protected EditModal EditConfirmation {get; set;}
    private string shopname {get; set;}
    private int deleteid {get; set;}
    private int editid {get;set;}
    private string editName {get;set;}
    private string deleteName {get; set;}
   
    
    protected override async Task OnInitializedAsync()
    {
        await ShopService.GetShopList();
        ShopService.OnChange += StateHasChanged;
    }

    public void DeleteShop(int id, string name)
    {
     deleteName=name;
     deleteid=id;
     DeleteConfirmation.Show();
     
    }
    public void EditShop(int id, string name)
    {
     editName=name;
     editid=id;
     EditConfirmation.Show();
     
    }
    protected async Task ConfirmDeleteClick(bool confirm)
    {
        if(confirm)
        {
         await ShopService.DeleteShop(deleteid);
        }
    }
    protected async Task EditDeleteClick(string result)
    {
        if(!String.IsNullOrWhiteSpace(result))
        {
         await ShopService.editShop(editid,result);
        }
    }
    async void addShop(string name)
    {
        shopname = null;
        var result = await ShopService.addShop(name);
    }
   
    
    public void Dispose()
    {
        ShopService.OnChange -= StateHasChanged;
           }

       
}