@page "/"

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.ExpensesCard></FinnanceApp.Client.Pages.Cards.ExpensesCard>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.ExpensesCardWeek></FinnanceApp.Client.Pages.Cards.ExpensesCardWeek>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.DiffCard></FinnanceApp.Client.Pages.Cards.DiffCard>
    </div>
     <div class="col-xl-3 col-md-6 mb-4">
       <FinnanceApp.Client.Pages.Cards.TargetCard></FinnanceApp.Client.Pages.Cards.TargetCard>
    </div>
</div>

