@page "/"
@layout MainLayout
@inject FinnanceApp.Client.Services.CardService.ICardService _cservice
@inject FinnanceApp.Client.Services.IAdditionalService _adService
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.ExpensesCard money="@expenses"></FinnanceApp.Client.Pages.Cards.ExpensesCard>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.ExpensesCardWeek money="@exweek">
        </FinnanceApp.Client.Pages.Cards.ExpensesCardWeek>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.DiffCard money="@diff"></FinnanceApp.Client.Pages.Cards.DiffCard>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.TargetCard prc="@target"></FinnanceApp.Client.Pages.Cards.TargetCard>
    </div>
</div>

<div class="row">
    <div class="col-xl-8 col-lg-7">
      <FinnanceApp.Client.Shared.Components.MonthChart></FinnanceApp.Client.Shared.Components.MonthChart>
    </div>
    <div class="col-xl-4 col-lg-5">
        <FinnanceApp.Client.Shared.Components.PersonChart></FinnanceApp.Client.Shared.Components.PersonChart>
    </div>
</div>
@code{
    double expenses = 0;
    double exweek = 0;
    double diff = 0;
    double target = 0;
    protected override async Task OnInitializedAsync()
    {
        await _cservice.GetCards();
        expenses = Math.Round(_cservice.monthSum,2);
        exweek = Math.Round(_cservice.weekSum,2);
        diff = Math.Round(_cservice.diffSum, 2);
        target = Math.Round(_cservice.targetSum, 0);
    }
}
<style>
    .row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
</style>