@page "/"
@layout MainLayout
@inject FinnanceApp.Client.Services.CardService.ICardService _cservice
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.ExpensesCard money="@expenses"></FinnanceApp.Client.Pages.Cards.ExpensesCard>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.ExpensesCardWeek money="@exweek"></FinnanceApp.Client.Pages.Cards.ExpensesCardWeek>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <FinnanceApp.Client.Pages.Cards.DiffCard money="@diff"></FinnanceApp.Client.Pages.Cards.DiffCard>
    </div>
     <div class="col-xl-3 col-md-6 mb-4">
       <FinnanceApp.Client.Pages.Cards.TargetCard prc="@target"></FinnanceApp.Client.Pages.Cards.TargetCard>
    </div>
</div>
@code{
    double expenses=0;
    double exweek=0;
    double diff=0;
    double target =0;
    protected override async Task OnInitializedAsync()
    {
        await _cservice.GetCards();
        expenses=_cservice.monthSum;
        exweek=_cservice.weekSum;
        diff=_cservice.diffSum;
        target=Math.Round(_cservice.targetSum,0);
    }
}

