@inject FinnanceApp.Client.Services.IChartService _chartService
@inject IJSRuntime jsRunTime;
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Wydatki względem miesiąca</h6>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <canvas id="monthChart"></canvas>
        </div>
    </div>
</div>
@code
{
    protected override async Task OnInitializedAsync()
    {
      await _chartService.GetMonthChart();
      var mLabel = _chartService.chartMonths.Select(x=>x.month).ToList();
      var mValue = _chartService.chartMonths.Select(x=>x.money).ToList();
      await jsRunTime.InvokeVoidAsync("GenerateMonthChart", mLabel,mValue);
    }
}